[color]
    ui = auto
[user]
    name = Daniel Miladinov
    email = daniel.miladinov@gmail.com
[core]
    autocrlf = input
[alias]
    unstage = reset HEAD
    st = status
    ci = commit --verbose
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    ff = merge --ff-only
    prune-remote = !bash -ic 'pruneRemote $@' -
    orig-remove = !bash -ic 'origRemove' -
    sha = !bash -ic 'sha' -
    ar = !git ls-files --deleted | xargs git rm
[merge]
    tool = "p4merge"
[mergetool "p4merge"]
    path = "/c/Program Files/Perforce/p4merge.exe"
    cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
